.container.experiences__container {
    width: 40%;
    padding-bottom: 3rem;
}

.company__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 5.6rem;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    border: 0.4rem solid var(--color-primary-variant);
    margin-bottom: 1rem;
    object-fit: contain;
}

.experience {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.work {
    color: var(--color-light);
    font-weight: 400;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}


li:empty {
    display: none;
}

li::before {
    content: "\2022";  
    color: var(--color-primary); 
    font-weight: 400; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}


.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}
/* =================== MEDIA QUERIERS ( MEDIUM DEVICES )======================= */
@media screen and (max-width: 1024px) {
    .container.experiences__container {
        width: 60%;
    }
}

/* =================== MEDIA QUERIERS ( SMALL DEVICES )======================= */
@media screen and (max-width: 1024px) {
    .container.experiences__container {
        width: var(--container-width-sm);
    }

    .work {
        width: var(--container-width-sm);
    }
}